@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
.box {
  height: 100vh;
  width: 100vh;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#message {
    height: 300px;
    width: 300px;
    font-size: 1.5rem;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    font-weight: 900;
    border: black 6px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn_ft {
    margin-top: 400px;
    position: absolute;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "MedievalSharp", cursive;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
